<footer th:fragment="footer">
    <div class="container justify-center footer-container">
        <div class="row footer-row">
            <div class="column footer-col">
                <p><a th:href="@{/contact}"Contact me</p>
            </div>
            <div class="column footer-col contact-form">
                <form th:action="@{/contact}" method="post">
                    <div class="row">
                        <div class="column">
                            <label for="name">Name</label>
                            <input type="text" id="name" name="name" placeholder="Your name..">
                        </div>
                        <div class="column">
                            <label for="email">Email</label>
                            <input type="text" id="email" name="email" placeholder="Your email..">
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <label for="subject">Subject</label>
                            <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <input type="submit" value="Submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</footer>