/*#########################################################*/
/*###################### SITE STYLING ######################*/
/*#########################################################*/

body {
    background-color: #3a3f38;
    font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6{
    font-size: 40px;
}

p {
    font-size: 30px;
}

p, h1, h2, h3, h4, h5, h6, li, a {
    color: #f5f5f5;
}

/*#########################################################*/
/*###################### NAV STYLING ######################*/
/*#########################################################*/

.nav-container {
    background-color: #515954;
    padding: 0 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    height: 50px;
}

.nav-col ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-col ul li {
    list-style-type: none;
    padding: 0 10px;
}

.nav-row p, li {
    font-size: 20px;
    font-weight: bold;
}

/*#########################################################*/
/*#################### Index STYLING ######################*/
/*#########################################################*/

.header-text {
    align-items: center;
}

.header-image img {
    width: 80%;
    border-radius: 10%;
}

header.container {
    margin-top: 30px;
}

.index-intro {
    margin-bottom: 20px;
}

.index-col {
    align-items: center;
}

.index-description a {
    color: #E1CA96;
}

.index-description a:hover {
    color: #918B76;
}

.index-header h2 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.index-description p {
    font-size: 30px;
}

/*######## TECHNOLOGY CARDS ##########*/

.technologies .java, .spring, .sql, .javascript {
    max-width: 23%;
    background-color: #ACA885;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.index-description .technologies p {
    font-size: 30px;
}

.index-description .technologies {
    display: flex;
    justify-content: center;
}

.card-img {
    width: 68%;
}

