<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head(title='Connor Brinkley - About')"></head>
<body>
    <div class="page-wrapper">
        <nav th:replace="partials/nav :: nav"></nav>
        <header class="container about-header">
            <div class="row about-header-row">
                <div class="column justify-center about-header-col">
                    <h1>About Me</h1>
                    <p>Here's a short snippet about me if you care to read.</p>
                </div>
            </div>
        </header>
        <section class="container about-body-container">
            <div class="row about-body-row">
                <div class="column about-body-row justify-center">
                    <p>Hello, I'm Connor Brinkley, a passionate and driven 26-year-old software developer with a relentless curiosity for solving complex problems and a deep thirst for learning new technologies and innovative solutions. With a strong foundation in software development, I strive to create elegant and efficient solutions that make a positive impact on the world.</p>
                    <p>My coding journey began during an unexpected turn in my career. While working as a bar manager in the service industry, I discovered a hidden passion for coding. In my spare time, I would delve into online tutorials and coding resources. What started as a mere curiosity quickly transformed into an all-consuming fascination.</p>
                    <p>As I delved deeper into the world of coding, I realized its limitless potential to create transformative solutions and bring ideas to life. The process of solving complex problems through lines of code became my daily motivation, igniting a fire to pursue a career in software development.</p>
                    <p>To invest in my future and take a significant leap forward, I made the bold decision to enroll in a coding bootcamp called CodeUp. I embraced the opportunity to sharpen my skills, expand my knowledge, and gain practical experience in a supportive and collaborative learning environment.
                    </p>
                    <p>During my time at CodeUp, I had the privilege of working alongside a talented group of aspiring developers who shared the same passion for coding. Collaborating on projects, tackling coding challenges, and exchanging ideas fostered an environment of growth and camaraderie. The lasting relationships I formed with my peers became an invaluable part of my journey, as we supported and encouraged each other to push beyond our limits and achieve remarkable outcomes.</p>
                    <p>Through the shared experiences and countless hours of coding together, I not only expanded my technical expertise but also developed a strong network of like-minded individuals who continue to inspire me. These lasting relationships have become a cornerstone of my professional growth, as we continue to collaborate, exchange knowledge, and support each other's endeavors in the ever-evolving landscape of software development.
                    </p>
                    <p>When I'm not immersed in the world of coding, you can find me embracing the beauty of nature. Whether it's venturing out on hikes, setting up camp under the starry night sky, or exploring other outdoor activities, I find solace and inspiration in the great outdoors. Nature's serenity fuels my creativity, enabling me to approach coding challenges with fresh perspectives and innovative ideas.</p>
                    <p>Another passion of mine is photography. I have nurtured my skills as a photographer and established my own small photography company. Through the lens, I capture fleeting moments and weave them into timeless visual narratives. Photography allows me to combine my technical expertise with my artistic vision, telling compelling stories through captivating images.</p>
                    <p>While I immerse myself in the digital realm during my professional endeavors, I find solace in the realm of virtual worlds through video games. Particularly drawn to massively multiplayer online (MMO) and role-playing games (RPGs), I find joy in exploring vast and immersive virtual landscapes, collaborating with fellow gamers, and unraveling captivating narratives. It is within these interactive worlds that I appreciate the artistry and technical intricacies that go into creating seamless gaming experiences.
                    </p>
                    <p>Looking towards the future, I aspire to delve deeper into the realm of video game programming. Combining my passion for software development, my love for gaming, and the unique perspective I gained from my time in the service industry, I dream of contributing to the creation of immersive and unforgettable gaming experiences. With dedication and continuous learning, I aim to unlock the potential to not only make a lasting impact on the gaming industry but also fulfill my ultimate ambition of establishing my own game development company.</p>
                </div>
            </div>
        </section>
        <footer th:replace="partials/footer :: footer"></footer>
    </div>
</body>
</html>