<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head(title='Connor Brinkley - Contact')"></head>
<body>
    <div class="page-wrapper">
        <nav th:replace="partials/nav :: nav"></nav>
        <div class="container">
            <div class="row">
                <div class="column">
                    <div class="contact-header">
                        <h2>Contact</h2>
                    </div>
                    <div class="contact-description">
                        <p>Feel free to contact me with any questions or if you would like to collaborate on any projects.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container contact-container">
            <div class="row contact-row">
                <div class="column contact-col">

                </div>
            </div>
        </div>
    </div>
</body>
</html>