<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head(title='Connor Brinkley - Projects')"></head>
<body>
    <div class="page-wrapper">
        <nav th:replace="partials/nav :: nav"></nav>
        <div class="container">
            <div class="row">
                <div class="column">
                    <div class="projects-header">
                        <h2>Projects</h2>
                    </div>
                    <div class="projects-description">
                        <p>Here are some of the projects I have worked on. I am constantly working on new projects, so check back often to see what I'm currently working on.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>